In [93]:
import math
import numpy as np
import pandas as pd
import geopandas as gpd
from pandas import testing as tm
from ortools.sat.python import cp_model

In [99]:
df = pd.read_csv("fountains-distances-join-fountains-counts.csv")
df.head(4)

,id,nearest_rev,nearest_fountain,nearest_rvertes,nearest_pcyclable,nearest_murbain,nearest_iexterne,min_col,min_val,longitude,latitude,objectid,superficie,count
0,1,2697.569104,48.907970,2512.295088,176.113692,2529.702004,21,nearest_iexterne,21.446787,-73.589462,45.592012,5069,11.80462,5
1,2,2745.451551,1.408827,2541.866572,167.330400,2495.967421,33,nearest_fountain,1.408827,-73.590055,45.592189,5069,11.80462,5
2,3,2744.043719,1.408827,2540.756133,167.190902,2497.152536,32,nearest_fountain,1.408827,-73.590041,45.592181,5069,11.80462,5
3,4,2582.406191,141.348494,2371.053545,84.592035,2670.529930,18,nearest_iexterne,18.837126,-73.589008,45.590781,5069,11.80462,5

In [100]:
print(f"length < 1 (ha): {len(df[df['superficie'] < 1])}")
print(f"length 1-5 (ha): {len(df[(df['superficie'] >= 1) & (df['superficie'] < 5)])}")
print(f"length 5-20 (ha): {len(df[(df['superficie'] >= 5) & (df['superficie'] < 20)])}")
print(f"length 20-100 (ha): {len(df[(df['superficie'] >= 20) & (df['superficie'] < 100)])}")
print(f"length > 100 (ha): {len(df[df['superficie'] > 100])}")

length < 1 (ha): 230
length 1-5 (ha): 299
length 5-20 (ha): 197
length 20-100 (ha): 66
length > 100 (ha): 31

In [101]:
bins = [0, 1, 5, 20, 100, float('inf')]
labels = ['< 1', '1-5', '5-20', '20-100', '> 100']

# Ajout d'une colonne 'categorie' au DataFrame pour stocker la catégorie de chaque superficie
df['categorie'] = pd.cut(df['superficie'], bins=bins, labels=labels)

df.head(4)

,id,nearest_rev,nearest_fountain,nearest_rvertes,nearest_pcyclable,nearest_murbain,nearest_iexterne,min_col,min_val,longitude,latitude,objectid,superficie,count,categorie
0,1,2697.569104,48.907970,2512.295088,176.113692,2529.702004,21,nearest_iexterne,21.446787,-73.589462,45.592012,5069,11.80462,5,5-20
1,2,2745.451551,1.408827,2541.866572,167.330400,2495.967421,33,nearest_fountain,1.408827,-73.590055,45.592189,5069,11.80462,5,5-20
2,3,2744.043719,1.408827,2540.756133,167.190902,2497.152536,32,nearest_fountain,1.408827,-73.590041,45.592181,5069,11.80462,5,5-20
3,4,2582.406191,141.348494,2371.053545,84.592035,2670.529930,18,nearest_iexterne,18.837126,-73.589008,45.590781,5069,11.80462,5,5-20

In [102]:
dictionnary = df.groupby("categorie").agg({"count": "max"}).to_dict()["count"]
df['max-fountain'] = df['categorie'].map(dictionnary)
df = df.rename(columns={"count": "nbr-fountain"})

df.head(4)

,id,nearest_rev,nearest_fountain,nearest_rvertes,nearest_pcyclable,nearest_murbain,nearest_iexterne,min_col,min_val,longitude,latitude,objectid,superficie,nbr-fountain,categorie,max-fountain
0,1,2697.569104,48.907970,2512.295088,176.113692,2529.702004,21,nearest_iexterne,21.446787,-73.589462,45.592012,5069,11.80462,5,5-20,11
1,2,2745.451551,1.408827,2541.866572,167.330400,2495.967421,33,nearest_fountain,1.408827,-73.590055,45.592189,5069,11.80462,5,5-20,11
2,3,2744.043719,1.408827,2540.756133,167.190902,2497.152536,32,nearest_fountain,1.408827,-73.590041,45.592181,5069,11.80462,5,5-20,11
3,4,2582.406191,141.348494,2371.053545,84.592035,2670.529930,18,nearest_iexterne,18.837126,-73.589008,45.590781,5069,11.80462,5,5-20,11

In [103]:
# Conversion en mètres carrés
df['superficie-metre'] = df['superficie'] * 10000

df.head(4)

,id,nearest_rev,nearest_fountain,nearest_rvertes,nearest_pcyclable,nearest_murbain,nearest_iexterne,min_col,min_val,longitude,latitude,objectid,superficie,nbr-fountain,categorie,max-fountain,superficie-metre
0,1,2697.569104,48.907970,2512.295088,176.113692,2529.702004,21,nearest_iexterne,21.446787,-73.589462,45.592012,5069,11.80462,5,5-20,11,118046.202996
1,2,2745.451551,1.408827,2541.866572,167.330400,2495.967421,33,nearest_fountain,1.408827,-73.590055,45.592189,5069,11.80462,5,5-20,11,118046.202996
2,3,2744.043719,1.408827,2540.756133,167.190902,2497.152536,32,nearest_fountain,1.408827,-73.590041,45.592181,5069,11.80462,5,5-20,11,118046.202996
3,4,2582.406191,141.348494,2371.053545,84.592035,2670.529930,18,nearest_iexterne,18.837126,-73.589008,45.590781,5069,11.80462,5,5-20,11,118046.202996

In [104]:
grouped = df.groupby('objectid')\
            .agg({
                'superficie-metre': 'first', 
                'nbr-fountain': 'first', 
                'max-fountain': 'first'})\
                    .reset_index()

print(grouped)

     objectid  superficie-metre  nbr-fountain max-fountain
0        3479      5.426809e+03             1            3
1        3482      4.711487e+04             4            5
2        3485      3.513201e+04             2            5
3        3494      4.019093e+04             2            5
4        3523      2.378247e+03             1            3
..        ...               ...           ...          ...
477      5659      1.775433e+05             2           11
478      5662      6.249648e+05             3           13
479      5679      1.278951e+04             2            5
480      5685      2.541568e+06             5           18
481      5691      1.546228e+05             1           11

[482 rows x 4 columns]

In [105]:
grouped['max-fountain'] = grouped['max-fountain'].astype(int)

# Group by id_parc and get the max value of nbr_fountain for each group
max_fountains = grouped.groupby('objectid')['max-fountain'].max()

# Sum the maximum values
sum_max_fountains = max_fountains.sum()

# Print the result
print(sum_max_fountains)

2525

In [149]:
# Create the CP-SAT model
model = cp_model.CpModel()

# Define the variables
fountains = [model.NewIntVar(0, grouped['max-fountain'][i], f'fountains{i}') for i in range(len(grouped))]

# Define the constraints
for i in range(len(grouped)):
    # Contrainte pour garantir qu'il y a au moins une fontaine par parc
    model.Add(fountains[i] >= 1)
    # Contrainte pour limiter le nombre de fontaines par parc
    model.Add(fountains[i] <= grouped['max-fountain'][i])
    # Contrainte pour limiter le nombre de fontaines en fonction de la superficie du parc
    model.Add(fountains[i] <= math.ceil(grouped['superficie-metre'][i] // 100))
    
# Contrainte pour limiter le nombre total de fontaines
model.Add(sum(fountains) <= sum_max_fountains)

# Define the objective function
model.Maximize(sum(fountains))

# Create the solver and solve the model
solver = cp_model.CpSolver()
status = solver.Solve(model)

# Print the solution
if status == cp_model.OPTIMAL or status == cp_model.FEASIBLE:
    print('Solution trouvée avec un nombre total de fontaines de', solver.ObjectiveValue(), ':')
    for i in range(len(grouped)):
        print(f'Parc {grouped["objectid"][i]}: {solver.Value(fountains[i])} fontaines')
else:
    print('Aucune solution trouvée')

Solution trouvée avec un nombre total de fontaines de 2525.0 :
Parc 3479: 3 fontaines
Parc 3482: 5 fontaines
Parc 3485: 5 fontaines
Parc 3494: 5 fontaines
Parc 3523: 3 fontaines
Parc 3524: 11 fontaines
Parc 3526: 5 fontaines
Parc 3528: 5 fontaines
Parc 3531: 3 fontaines
Parc 3538: 3 fontaines
Parc 3548: 5 fontaines
Parc 3551: 5 fontaines
Parc 3557: 5 fontaines
Parc 3563: 5 fontaines
Parc 3567: 5 fontaines
Parc 3568: 3 fontaines
Parc 3570: 3 fontaines
Parc 3581: 5 fontaines
Parc 3589: 11 fontaines
Parc 3592: 5 fontaines
Parc 3602: 3 fontaines
Parc 3617: 3 fontaines
Parc 3622: 3 fontaines
Parc 3624: 3 fontaines
Parc 3631: 11 fontaines
Parc 3639: 5 fontaines
Parc 3642: 11 fontaines
Parc 3647: 5 fontaines
Parc 3651: 11 fontaines
Parc 3657: 3 fontaines
Parc 3660: 5 fontaines
Parc 3667: 5 fontaines
Parc 3672: 5 fontaines
Parc 3674: 5 fontaines
Parc 3678: 11 fontaines
Parc 3680: 5 fontaines
Parc 3684: 3 fontaines
Parc 3692: 5 fontaines
Parc 3700: 18 fontaines
Parc 3705: 3 fontaines
Parc 3706: 5 fontaines
Parc 3710: 3 fontaines
Parc 3711: 5 fontaines
Parc 3714: 3 fontaines
Parc 3715: 11 fontaines
Parc 3716: 5 fontaines
Parc 3718: 5 fontaines
Parc 3722: 11 fontaines
Parc 3723: 3 fontaines
Parc 3731: 3 fontaines
Parc 3732: 11 fontaines
Parc 3734: 5 fontaines
Parc 3737: 5 fontaines
Parc 3740: 11 fontaines
Parc 3749: 3 fontaines
Parc 3758: 3 fontaines
Parc 3766: 3 fontaines
Parc 3774: 5 fontaines
Parc 3777: 5 fontaines
Parc 3781: 5 fontaines
Parc 3782: 5 fontaines
Parc 3787: 5 fontaines
Parc 3790: 5 fontaines
Parc 3795: 5 fontaines
Parc 3798: 5 fontaines
Parc 3800: 3 fontaines
Parc 3802: 5 fontaines
Parc 3804: 3 fontaines
Parc 3806: 5 fontaines
Parc 3808: 11 fontaines
Parc 3817: 11 fontaines
Parc 3827: 5 fontaines
Parc 3828: 5 fontaines
Parc 3831: 5 fontaines
Parc 3835: 11 fontaines
Parc 3840: 5 fontaines
Parc 3843: 5 fontaines
Parc 3844: 5 fontaines
Parc 3851: 3 fontaines
Parc 3853: 5 fontaines
Parc 3862: 5 fontaines
Parc 3867: 3 fontaines
Parc 3868: 3 fontaines
Parc 3880: 5 fontaines
Parc 3881: 3 fontaines
Parc 3882: 5 fontaines
Parc 3888: 5 fontaines
Parc 3889: 3 fontaines
Parc 3890: 3 fontaines
Parc 3894: 5 fontaines
Parc 3900: 5 fontaines
Parc 3903: 5 fontaines
Parc 3905: 5 fontaines
Parc 3907: 5 fontaines
Parc 3910: 3 fontaines
Parc 3913: 3 fontaines
Parc 3914: 3 fontaines
Parc 3917: 3 fontaines
Parc 3918: 5 fontaines
Parc 3919: 11 fontaines
Parc 3923: 3 fontaines
Parc 3924: 3 fontaines
Parc 3927: 5 fontaines
Parc 3934: 3 fontaines
Parc 3936: 5 fontaines
Parc 3939: 5 fontaines
Parc 3943: 5 fontaines
Parc 3945: 5 fontaines
Parc 3946: 5 fontaines
Parc 3951: 5 fontaines
Parc 3959: 3 fontaines
Parc 3960: 5 fontaines
Parc 3961: 3 fontaines
Parc 3965: 3 fontaines
Parc 3966: 5 fontaines
Parc 3979: 3 fontaines
Parc 3985: 11 fontaines
Parc 3986: 3 fontaines
Parc 3988: 11 fontaines
Parc 3995: 3 fontaines
Parc 4002: 3 fontaines
Parc 4003: 5 fontaines
Parc 4005: 3 fontaines
Parc 4007: 3 fontaines
Parc 4009: 3 fontaines
Parc 4010: 3 fontaines
Parc 4015: 3 fontaines
Parc 4019: 5 fontaines
Parc 4020: 13 fontaines
Parc 4021: 5 fontaines
Parc 4022: 3 fontaines
Parc 4027: 5 fontaines
Parc 4028: 3 fontaines
Parc 4029: 5 fontaines
Parc 4030: 3 fontaines
Parc 4031: 3 fontaines
Parc 4033: 3 fontaines
Parc 4041: 3 fontaines
Parc 4043: 5 fontaines
Parc 4045: 5 fontaines
Parc 4047: 5 fontaines
Parc 4049: 5 fontaines
Parc 4051: 11 fontaines
Parc 4053: 5 fontaines
Parc 4054: 5 fontaines
Parc 4055: 5 fontaines
Parc 4056: 5 fontaines
Parc 4058: 11 fontaines
Parc 4061: 3 fontaines
Parc 4072: 3 fontaines
Parc 4075: 3 fontaines
Parc 4076: 18 fontaines
Parc 4084: 3 fontaines
Parc 4086: 3 fontaines
Parc 4090: 11 fontaines
Parc 4092: 11 fontaines
Parc 4093: 3 fontaines
Parc 4099: 3 fontaines
Parc 4100: 3 fontaines
Parc 4105: 5 fontaines
Parc 4107: 3 fontaines
Parc 4109: 5 fontaines
Parc 4121: 3 fontaines
Parc 4123: 3 fontaines
Parc 4128: 5 fontaines
Parc 4136: 3 fontaines
Parc 4137: 3 fontaines
Parc 4139: 5 fontaines
Parc 4140: 5 fontaines
Parc 4141: 3 fontaines
Parc 4142: 3 fontaines
Parc 4143: 5 fontaines
Parc 4144: 5 fontaines
Parc 4158: 3 fontaines
Parc 4160: 3 fontaines
Parc 4162: 3 fontaines
Parc 4169: 3 fontaines
Parc 4170: 11 fontaines
Parc 4172: 5 fontaines
Parc 4173: 5 fontaines
Parc 4180: 3 fontaines
Parc 4184: 11 fontaines
Parc 4195: 5 fontaines
Parc 4212: 5 fontaines
Parc 4214: 5 fontaines
Parc 4217: 11 fontaines
Parc 4219: 5 fontaines
Parc 4220: 13 fontaines
Parc 4224: 3 fontaines
Parc 4228: 3 fontaines
Parc 4246: 3 fontaines
Parc 4251: 5 fontaines
Parc 4261: 5 fontaines
Parc 4265: 5 fontaines
Parc 4272: 5 fontaines
Parc 4276: 3 fontaines
Parc 4278: 5 fontaines
Parc 4279: 3 fontaines
Parc 4282: 5 fontaines
Parc 4284: 11 fontaines
Parc 4290: 11 fontaines
Parc 4294: 13 fontaines
Parc 4296: 11 fontaines
Parc 4297: 5 fontaines
Parc 4298: 5 fontaines
Parc 4299: 3 fontaines
Parc 4300: 3 fontaines
Parc 4307: 5 fontaines
Parc 4308: 3 fontaines
Parc 4309: 3 fontaines
Parc 4310: 3 fontaines
Parc 4311: 3 fontaines
Parc 4312: 5 fontaines
Parc 4317: 5 fontaines
Parc 4321: 5 fontaines
Parc 4322: 5 fontaines
Parc 4324: 5 fontaines
Parc 4325: 3 fontaines
Parc 4328: 5 fontaines
Parc 4330: 11 fontaines
Parc 4344: 3 fontaines
Parc 4346: 3 fontaines
Parc 4347: 5 fontaines
Parc 4349: 11 fontaines
Parc 4354: 3 fontaines
Parc 4364: 3 fontaines
Parc 4375: 11 fontaines
Parc 4407: 3 fontaines
Parc 4424: 3 fontaines
Parc 4483: 3 fontaines
Parc 4484: 3 fontaines
Parc 4486: 3 fontaines
Parc 4491: 11 fontaines
Parc 4495: 5 fontaines
Parc 4497: 5 fontaines
Parc 4498: 5 fontaines
Parc 4507: 3 fontaines
Parc 4513: 3 fontaines
Parc 4531: 3 fontaines
Parc 4534: 3 fontaines
Parc 4547: 5 fontaines
Parc 4551: 5 fontaines
Parc 4571: 3 fontaines
Parc 4576: 3 fontaines
Parc 4584: 3 fontaines
Parc 4586: 11 fontaines
Parc 4588: 3 fontaines
Parc 4594: 5 fontaines
Parc 4597: 3 fontaines
Parc 4600: 5 fontaines
Parc 4602: 5 fontaines
Parc 4603: 5 fontaines
Parc 4604: 5 fontaines
Parc 4605: 5 fontaines
Parc 4609: 3 fontaines
Parc 4613: 13 fontaines
Parc 4616: 3 fontaines
Parc 4618: 3 fontaines
Parc 4619: 3 fontaines
Parc 4620: 3 fontaines
Parc 4623: 3 fontaines
Parc 4626: 3 fontaines
Parc 4627: 3 fontaines
Parc 4633: 11 fontaines
Parc 4635: 5 fontaines
Parc 4639: 5 fontaines
Parc 4643: 5 fontaines
Parc 4646: 5 fontaines
Parc 4650: 5 fontaines
Parc 4651: 5 fontaines
Parc 4652: 3 fontaines
Parc 4653: 11 fontaines
Parc 4654: 3 fontaines
Parc 4666: 5 fontaines
Parc 4674: 3 fontaines
Parc 4675: 5 fontaines
Parc 4680: 5 fontaines
Parc 4685: 3 fontaines
Parc 4686: 3 fontaines
Parc 4687: 3 fontaines
Parc 4688: 3 fontaines
Parc 4689: 11 fontaines
Parc 4692: 5 fontaines
Parc 4693: 5 fontaines
Parc 4695: 3 fontaines
Parc 4697: 5 fontaines
Parc 4700: 11 fontaines
Parc 4702: 11 fontaines
Parc 4708: 3 fontaines
Parc 4709: 3 fontaines
Parc 4712: 3 fontaines
Parc 4715: 3 fontaines
Parc 4718: 5 fontaines
Parc 4721: 5 fontaines
Parc 4723: 11 fontaines
Parc 4727: 5 fontaines
Parc 4731: 3 fontaines
Parc 4732: 3 fontaines
Parc 4737: 5 fontaines
Parc 4738: 11 fontaines
Parc 4739: 13 fontaines
Parc 4744: 5 fontaines
Parc 4749: 5 fontaines
Parc 4757: 11 fontaines
Parc 4759: 5 fontaines
Parc 4767: 3 fontaines
Parc 4768: 3 fontaines
Parc 4769: 3 fontaines
Parc 4772: 3 fontaines
Parc 4774: 5 fontaines
Parc 4775: 3 fontaines
Parc 4781: 11 fontaines
Parc 4789: 3 fontaines
Parc 4790: 3 fontaines
Parc 4791: 3 fontaines
Parc 4792: 3 fontaines
Parc 4795: 11 fontaines
Parc 4796: 11 fontaines
Parc 4804: 3 fontaines
Parc 4806: 3 fontaines
Parc 4844: 3 fontaines
Parc 4848: 5 fontaines
Parc 4849: 3 fontaines
Parc 4853: 11 fontaines
Parc 4857: 5 fontaines
Parc 4876: 5 fontaines
Parc 4877: 5 fontaines
Parc 4887: 11 fontaines
Parc 4890: 5 fontaines
Parc 4891: 3 fontaines
Parc 4903: 3 fontaines
Parc 4904: 3 fontaines
Parc 4905: 3 fontaines
Parc 4908: 3 fontaines
Parc 4913: 3 fontaines
Parc 4914: 3 fontaines
Parc 4918: 3 fontaines
Parc 4919: 3 fontaines
Parc 4939: 3 fontaines
Parc 4944: 3 fontaines
Parc 4947: 11 fontaines
Parc 4948: 3 fontaines
Parc 4950: 3 fontaines
Parc 4957: 5 fontaines
Parc 4961: 3 fontaines
Parc 4962: 11 fontaines
Parc 4963: 11 fontaines
Parc 4968: 3 fontaines
Parc 4973: 3 fontaines
Parc 4974: 3 fontaines
Parc 4977: 3 fontaines
Parc 4981: 3 fontaines
Parc 4986: 3 fontaines
Parc 4993: 11 fontaines
Parc 4994: 5 fontaines
Parc 4995: 3 fontaines
Parc 4996: 11 fontaines
Parc 5007: 11 fontaines
Parc 5009: 11 fontaines
Parc 5017: 3 fontaines
Parc 5022: 13 fontaines
Parc 5023: 3 fontaines
Parc 5029: 11 fontaines
Parc 5038: 3 fontaines
Parc 5043: 5 fontaines
Parc 5053: 11 fontaines
Parc 5060: 3 fontaines
Parc 5062: 11 fontaines
Parc 5065: 5 fontaines
Parc 5066: 3 fontaines
Parc 5069: 11 fontaines
Parc 5079: 5 fontaines
Parc 5090: 3 fontaines
Parc 5092: 3 fontaines
Parc 5100: 3 fontaines
Parc 5102: 11 fontaines
Parc 5110: 3 fontaines
Parc 5118: 5 fontaines
Parc 5132: 3 fontaines
Parc 5133: 11 fontaines
Parc 5141: 11 fontaines
Parc 5142: 3 fontaines
Parc 5147: 3 fontaines
Parc 5153: 3 fontaines
Parc 5157: 5 fontaines
Parc 5158: 3 fontaines
Parc 5159: 3 fontaines
Parc 5163: 3 fontaines
Parc 5165: 3 fontaines
Parc 5166: 3 fontaines
Parc 5167: 5 fontaines
Parc 5174: 5 fontaines
Parc 5177: 3 fontaines
Parc 5179: 5 fontaines
Parc 5181: 5 fontaines
Parc 5183: 5 fontaines
Parc 5186: 5 fontaines
Parc 5188: 3 fontaines
Parc 5189: 3 fontaines
Parc 5196: 5 fontaines
Parc 5197: 5 fontaines
Parc 5204: 3 fontaines
Parc 5206: 3 fontaines
Parc 5211: 3 fontaines
Parc 5213: 3 fontaines
Parc 5215: 5 fontaines
Parc 5218: 3 fontaines
Parc 5219: 3 fontaines
Parc 5221: 5 fontaines
Parc 5222: 3 fontaines
Parc 5225: 11 fontaines
Parc 5231: 5 fontaines
Parc 5233: 3 fontaines
Parc 5234: 3 fontaines
Parc 5240: 3 fontaines
Parc 5247: 5 fontaines
Parc 5248: 3 fontaines
Parc 5254: 3 fontaines
Parc 5255: 5 fontaines
Parc 5258: 3 fontaines
Parc 5260: 3 fontaines
Parc 5269: 3 fontaines
Parc 5270: 3 fontaines
Parc 5281: 3 fontaines
Parc 5287: 3 fontaines
Parc 5292: 3 fontaines
Parc 5295: 3 fontaines
Parc 5296: 5 fontaines
Parc 5297: 3 fontaines
Parc 5300: 5 fontaines
Parc 5305: 5 fontaines
Parc 5309: 5 fontaines
Parc 5311: 3 fontaines
Parc 5316: 5 fontaines
Parc 5327: 5 fontaines
Parc 5337: 3 fontaines
Parc 5343: 3 fontaines
Parc 5346: 5 fontaines
Parc 5351: 3 fontaines
Parc 5356: 5 fontaines
Parc 5363: 5 fontaines
Parc 5374: 3 fontaines
Parc 5375: 3 fontaines
Parc 5377: 5 fontaines
Parc 5379: 5 fontaines
Parc 5381: 3 fontaines
Parc 5382: 5 fontaines
Parc 5388: 5 fontaines
Parc 5389: 11 fontaines
Parc 5393: 3 fontaines
Parc 5394: 5 fontaines
Parc 5398: 3 fontaines
Parc 5399: 5 fontaines
Parc 5400: 5 fontaines
Parc 5405: 11 fontaines
Parc 5407: 5 fontaines
Parc 5408: 3 fontaines
Parc 5413: 5 fontaines
Parc 5420: 3 fontaines
Parc 5422: 11 fontaines
Parc 5430: 5 fontaines
Parc 5432: 5 fontaines
Parc 5437: 3 fontaines
Parc 5445: 13 fontaines
Parc 5446: 3 fontaines
Parc 5447: 5 fontaines
Parc 5449: 13 fontaines
Parc 5455: 3 fontaines
Parc 5457: 3 fontaines
Parc 5465: 13 fontaines
Parc 5502: 5 fontaines
Parc 5590: 3 fontaines
Parc 5602: 11 fontaines
Parc 5604: 13 fontaines
Parc 5610: 18 fontaines
Parc 5612: 11 fontaines
Parc 5629: 18 fontaines
Parc 5659: 11 fontaines
Parc 5662: 13 fontaines
Parc 5679: 5 fontaines
Parc 5685: 18 fontaines
Parc 5691: 11 fontaines

In [109]:
class SolutionPrinter(cp_model.CpSolverSolutionCallback):
        
    def __init__(self, fountains, results):
        """Fonction de callback qui stocke les solutions trouvées"""
        cp_model.CpSolverSolutionCallback.__init__(self)
        self.fountains = fountains
        self.results = results
        self.solution_count = 0
    
    def OnSolutionCallback(self):
        """Stocke la solution trouvée dans le dictionnaire results"""
        self.solution_count += 1
        for i, f in enumerate(self.fountains):
            self.results[f'Parc {i+1}'] = self.Value(f)

In [110]:
# Create a list of dictionaries to store the solution data
solution_data = []
for i in range(len(grouped)):
    solution_data.append({'objectid': grouped['objectid'][i], 'nbr-fountain': solver.Value(fountains[i])})

# Create a DataFrame from the solution data
solution_df = pd.DataFrame(solution_data)

# Export the DataFrame to a CSV file
# solution_df.to_csv('solution.csv', index=False)

In [116]:
df_ortools = solution_df.copy()
df_ortools.head(10)

   objectid  nbr-fountain
0      3479             3
1      3482             5
2      3485             5
3      3494             5
4      3523             3
5      3524            11
6      3526             5
7      3528             5
8      3531             3
9      3538             3

In [150]:
columns = ["objectid", "nbr-fountain"]
df_origine = grouped.copy()[columns]
df_origine.head(10)

   objectid  nbr-fountain
0      3479             1
1      3482             4
2      3485             2
3      3494             2
4      3523             1
5      3524             1
6      3526             1
7      3528             2
8      3531             1
9      3538             1

In [112]:
# df_origine = grouped.copy()
# df_origine = df_origine.rename(columns={"count": "nbr_fountain"})
# df_origine = df_origine.astype({"objectid": "int64", "nbr_fountain": "int64", "max-fountains": "int64"})

# df_origine.head(4)

In [113]:
# df_ortools = df_ortools.rename(columns={"max-fountains": "nbr_fountain"})
# df_ortools = df_ortools.astype({"objectid": "int64", "nbr_fountain": "int64", "superficie-metre": "float64"})

# df_ortools.head(4)

In [114]:
# # Joindre les deux dataframes sur la colonne 'id_parc'
# df_compare = pd.merge(df_origine, df_ortools, on='objectid', suffixes=('_origine', '_ortools'))

# # Ajouter une colonne 'compare' pour indiquer si le nombre de fontaines généré par ortools est supérieur, égal ou inférieur au nombre d'origine
# df_compare['compare'] = np.where(df_compare['nbr_fountain_ortools'] > df_compare['nbr_fountain_origine'], 'supérieur', np.where(df_compare['nbr_fountain_ortools'] == df_compare['nbr_fountain_origine'], 'égal', 'inférieur'))

# # Afficher le dataframe de comparaison
# df_compare.head(10)