In [2]:
import geopandas as gpd
from shapely.geometry import Point, LineString
import numpy as np

In [3]:
# Create random GeoDataFrames with points and linestrings
points = gpd.GeoDataFrame(geometry=[Point(np.random.uniform(-10, 10, 2)) for i in range(10)])
linestrings = gpd.GeoDataFrame(geometry=[LineString(np.random.uniform(-10, 10, (2, 2))) for i in range(5)])

In [4]:
points

                    geometry
0   POINT (-1.51616 5.69411)
1  POINT (-4.88151 -5.95655)
2  POINT (-9.36674 -0.56244)
3   POINT (8.13324 -7.50023)
4    POINT (6.11649 0.70741)
5   POINT (2.95827 -2.71767)
6    POINT (5.67769 7.56018)
7   POINT (4.97302 -5.22597)
8    POINT (5.22994 3.15627)
9    POINT (9.28821 8.42002)

In [5]:
linestrings

                                            geometry
0   LINESTRING (-3.27618 -4.94576, 3.50127 -8.31829)
1    LINESTRING (-9.19848 9.55637, 4.72649 -2.20440)
2     LINESTRING (8.62667 -6.63876, 9.43958 7.70296)
3    LINESTRING (-0.20029 8.54727, 4.22241 -7.06571)
4  LINESTRING (-0.68630 -1.70736, -9.85208 -6.13855)

In [6]:
# Calculate distance from each point to the closest linestring
def distance_to_closest_linestring(point, linestrings):
    return linestrings.distance(point).min()

In [7]:
points['distance'] = points.geometry.apply(distance_to_closest_linestring, args=(linestrings,))

print(points)

                    geometry  distance
0   POINT (-1.51616 5.69411)  2.006265
1  POINT (-4.88151 -5.95655)  1.897038
2  POINT (-9.36674 -0.56244)  4.808970
3   POINT (8.13324 -7.50023)  0.992774
4    POINT (6.11649 0.70741)  2.921877
5   POINT (2.95827 -2.71767)  0.031236
6    POINT (5.67769 7.56018)  3.747782
7   POINT (4.97302 -5.22597)  1.223615
8    POINT (5.22994 3.15627)  3.755362
9    POINT (9.28821 8.42002)  0.732864