In [3]:
import geopandas as gpd
from shapely.geometry import Point, Polygon, LineString
import random

In [4]:


# Create a random GeoDataFrame with line strings
lines = []
for i in range(5):
    x1, y1 = random.uniform(-180, 180), random.uniform(-90, 90)
    x2, y2 = random.uniform(-180, 180), random.uniform(-90, 90)
    line = LineString([(x1,y1), (x2,y2)])
    lines.append(line)
df_lines = gpd.GeoDataFrame(geometry=lines)

# Create a random GeoDataFrame with a polygon
x1, y1 = random.uniform(-180, 180), random.uniform(-90, 90)
x2, y2 = random.uniform(-180, 180), random.uniform(-90, 90)
x3, y3 = random.uniform(-180, 180), random.uniform(-90, 90)
polygon = Polygon([(x1,y1), (x2,y2), (x3,y3)])
df_polygon = gpd.GeoDataFrame(geometry=[polygon])

In [5]:
df_lines

                                            geometry
0  LINESTRING (-112.56503 47.80860, 111.45911 31....
1  LINESTRING (-40.33739 79.28699, 81.21973 32.70...
2  LINESTRING (53.29429 -2.99954, 157.86186 4.96024)
3  LINESTRING (110.83063 37.89473, -58.62170 15.8...
4  LINESTRING (-111.93448 -22.13337, 88.51182 41....

In [6]:
df_polygon

                                            geometry
0  POLYGON ((-124.64877 35.97950, -114.35144 55.6...

In [7]:
# Get the distance between the closest line string and the polygon
distance = df_lines.distance(df_polygon.geometry[0]).min()

print("Distance: ", distance)

Distance:  5.213990461748409