In [1]:
import geopandas as gpd

In [18]:
# https://geopandas.org/en/stable/docs/reference/api/geopandas.GeoDataFrame.sjoin_nearest.html
countries = gpd.read_file(gpd.datasets.get_path("naturalearth_lowres"))
cities = gpd.read_file(gpd.datasets.get_path("naturalearth_cities"))

In [19]:
print(f"countries: {len(countries)}")
print(f"cities: {len(cities)}")

countries: 177
cities: 243

In [20]:
print(countries.crs)
print(cities.crs)

EPSG:4326
EPSG:4326

In [21]:
# Define the projected CRS you want to use
crs = "EPSG:4326"
# Reproject the GeoSeries to the projected CRS
countries = countries.to_crs(crs)
cities = cities.to_crs(crs)

In [22]:
cities_w_country_data = cities.sjoin_nearest(countries, distance_col="distances")

/Users/ULABIAD/vscode/inf8790-projet/venv/lib/python3.8/site-packages/geopandas/array.py:344: UserWarning: Geometry is in a geographic CRS. Results from 'sjoin_nearest' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  warnings.warn(

In [23]:
len(cities_w_country_data)

243

In [24]:
cities_w_country_data[cities_w_country_data["name_right"]=="Italy"]

,name_left,geometry,index_right,pop_est,continent,name_right,iso_a3,gdp_md_est,distances
0,Vatican City,POINT (12.45339 41.90328),141,60297396.0,Europe,Italy,ITA,2003576,0.000000
1,San Marino,POINT (12.44177 43.93610),141,60297396.0,Europe,Italy,ITA,2003576,0.000000
137,Valletta,POINT (14.51471 35.89973),141,60297396.0,Europe,Italy,ITA,2003576,0.904731
226,Rome,POINT (12.48131 41.89790),141,60297396.0,Europe,Italy,ITA,2003576,0.000000